<h1>This is home page</h1>
<p>
  This page will display a list of problems!
</p>
<audio src="../static/music/n21.mp3" type="audio/mpeg"></audio>
<button id="btn_play">再生</button>
<button id="btn_pause">一時停止</button>

<script>
  const btn_play = document.getElementById("btn_play");
  const btn_pause = document.getElementById("btn_pause");
  const audioElement = document.querySelector("audio");

  btn_play.addEventListener("click", e => {
    audioElement.play();
  });

  btn_pause.addEventListener("click", e => {
    audioElement.pause();
  });
</script>
