{% extends 'default.html' %}

{% block content %}
  <h1>問題一覧</h1>
  <hr>
  {% for problem in problems %}
  {{ loop.index }}
  <a href="{{ url_for('problems.problem', id=loop.index|string) }}">{{ problem }}<br></a>
  {% endfor %}
  
  
  <audio src="../static/music/n21.mp3" type="audio/mpeg"></audio>
  <button id="btn_play">再生</button>
  <button id="btn_pause">一時停止</button>
{% endblock %}

<script>
  const btn_play = document.getElementById("btn_play");
  const btn_pause = document.getElementById("btn_pause");
  const audioElement = document.querySelector("audio");

  btn_play.addEventListener("click", e => {
    audioElement.play();
  });

  btn_pause.addEventListener("click", e => {
    audioElement.pause();
  });
</script>
