<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!-- lib内のライブラリ(cssとjs)をインポート -->
  <link rel="stylesheet" href="lib/codemirror.css"> 
  <!-- themeでエディタの色変更 -->
  <link rel="stylesheet" href="theme/monokai.css">
  <!-- ちょっとおしゃれにしたいとき -->
  <link rel="stylesheet" href="problem.css">
  <script src="lib/codemirror.js"></script>
  <script src="mode/python/python.js"></script>
</head>
<body>
  <script>
    var editor = CodeMirror(document.body, {
      value: 'print();\n',
      lineNumbers: true,
      theme: 'monokai custom',
      mode: 'python'
    });
  </script>
</body>
</html>