{% extends 'default.html' %}

{% block content %}
<h2>問題文</h2>
<br>
<p>{{ problem }}</p>

  <script>
    var editor = CodeMirror(document.body, {
      value: '# Your code here!!\n',
      lineNumbers: true,
      theme: 'monokai custom',
      mode: 'python'
    });
  </script>
<input class="btn btn-primary" type="submit" value="提出">

<audio id="type" src="../static/music/cat_like2a.mp3" type="audio/meg"></audio>
  
<script>
  const audioType = document.getElementById("type");
  window.onkeydown = function(e){
    audioType.play();
  };
</script>

{% endblock %}
